@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to MstrWrks</h1>
    <p class="lead">MstrWrks is a platform for you to organize your ideas and tasks in order to maintain a fluid workflow, whether as an individual or part of a team!</p>
</div>
<!--Headings changed to describe the system-->
<div class="row">
    <div class="col-md-4">
        <h2>Individual</h2>
        <p>
            Working on something BIG?
            Put your thoughts into channels that are easy to track and maintain.
            Need to make a quick to-do list so that you don't miss a beat?
            MstrWrks let's you organize and complete lists on the fly.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Teams</h2>
        <p>
            Have the A-Team assembled to change the world for the better?
            Organizations are coming soon, so your team can collaborate in real-time, work on items and check things off
            together, as an on point and synchronized unit!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Create Your MstrWrk</h2>
        <p>It's free for individuals, so sign up for an account if you don't have one!</p>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div>
            <button type="button" class="btn btn-lg btn-default btn-block">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>
            <button type="button" class="btn btn-lg btn-default btn-block">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>           
        </div>
    </div>
</div>
